In [1]:
# Cargamos las librerias necesarias
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# Importamos el archivo de transacciones
dataset = pd.read_csv('C:/Users/maria/OneDrive/Escritorio/GitAng/Proyecto_final/Market_Basket_Optimisation.csv', header = None)

In [2]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7501 entries, 0 to 7500
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7501 non-null   object
 1   1       5747 non-null   object
 2   2       4389 non-null   object
 3   3       3345 non-null   object
 4   4       2529 non-null   object
 5   5       1864 non-null   object
 6   6       1369 non-null   object
 7   7       981 non-null    object
 8   8       654 non-null    object
 9   9       395 non-null    object
 10  10      256 non-null    object
 11  11      154 non-null    object
 12  12      87 non-null     object
 13  13      47 non-null     object
 14  14      25 non-null     object
 15  15      8 non-null      object
 16  16      4 non-null      object
 17  17      4 non-null      object
 18  18      3 non-null      object
 19  19      1 non-null      object
dtypes: object(20)
memory usage: 1.1+ MB

transactions = []
for i in range(0, dataset.shape[0]):
    transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])

In [4]:
transactions

NameError: name 'transactions' is not defined

In [ ]:
# Training Apriori on the dataset
from apyori import apriori
rules = apriori(transactions, min_support = 0.003, min_confidence = 0.2, min_lift = 3, min_length = 2)

In [ ]:
# Resultados
results = list(rules)
def inspect(results):
    rh = [tuple(result[2][0][0]) for result in results]
    lh = [tuple(result[2][0][1]) for result in results]
    supports = [result[1] for result in results]
    confidences = [result[2][0][2] for result in results]
    lifts = [result[2][0][3] for result in results]
    return list(zip(rh, lh, supports, confidences, lifts))

In [ ]:
#Este comamdo crea un frame para ver los datos resultados
resultDataFrame=pd.DataFrame(inspect(results),
columns=['rhs','lhs','support','confidence','lift'])

In [ ]:
resultDataFrame

,rhs,lhs,support,confidence,lift
0,"(light cream,)","(chicken,)",0.004533,0.290598,4.843951
1,"(mushroom cream sauce,)","(escalope,)",0.005733,0.300699,3.790833
2,"(pasta,)","(escalope,)",0.005866,0.372881,4.700812
3,"(fromage blanc,)","(honey,)",0.003333,0.245098,5.164271
4,"(herb & pepper,)","(ground beef,)",0.015998,0.323450,3.291994
...,...,...,...,...,...
155,"(olive oil, ground beef)","(spaghetti, mineral water, nan)",0.003066,0.216981,3.632981
156,"(pancakes, ground beef)","(spaghetti, mineral water, nan)",0.003066,0.211009,3.532991
157,"(tomatoes, ground beef)","(spaghetti, mineral water, nan)",0.003066,0.261364,4.376091
158,"(spaghetti, mineral water, milk)","(olive oil, nan)",0.003333,0.211864,3.223519
159,"(tomatoes, milk)","(spaghetti, mineral water, nan)",0.003333,0.238095,3.986501

In [ ]:
resultDataFrame.sort_values('confidence',ascending=False)

,rhs,lhs,support,confidence,lift
70,"(cereals, ground beef)","(spaghetti, nan)",0.003066,0.676471,3.885303
14,"(cereals, ground beef)","(spaghetti,)",0.003066,0.676471,3.885303
63,"(tomatoes, olive oil)","(spaghetti,)",0.004399,0.611111,3.509912
134,"(tomatoes, olive oil)","(spaghetti, nan)",0.004399,0.611111,3.509912
22,"(cooking oil, ground beef)","(spaghetti,)",0.004799,0.571429,3.281995
...,...,...,...,...,...
136,"(eggs, ground beef)","(chocolate, mineral water, nan)",0.003999,0.200000,3.797975
103,"(shrimp, frozen vegetables)","(spaghetti, mineral water)",0.003333,0.200000,3.348661
152,"(shrimp, frozen vegetables)","(spaghetti, mineral water, nan)",0.003333,0.200000,3.348661
154,"(milk, ground beef)","(spaghetti, mineral water, nan)",0.004399,0.200000,3.348661
114,"(milk, ground beef)","(spaghetti, mineral water)",0.004399,0.200000,3.348661

In [ ]:
resultDataFrame.sort_values('support',ascending=False)

,rhs,lhs,support,confidence,lift
4,"(herb & pepper,)","(ground beef,)",0.015998,0.323450,3.291994
43,"(herb & pepper,)","(ground beef, nan)",0.015998,0.323450,3.291994
95,"(spaghetti, frozen vegetables)","(ground beef, nan)",0.008666,0.311005,3.165328
30,"(spaghetti, frozen vegetables)","(ground beef,)",0.008666,0.311005,3.165328
7,"(whole wheat pasta,)","(olive oil,)",0.007999,0.271493,4.122410
...,...,...,...,...,...
76,"(chocolate, frozen vegetables, ground beef)","(spaghetti,)",0.003066,0.534884,3.072100
104,"(spaghetti, mineral water, frozen vegetables)","(tomatoes,)",0.003066,0.255556,3.736690
70,"(cereals, ground beef)","(spaghetti, nan)",0.003066,0.676471,3.885303
138,"(chocolate, frozen vegetables, ground beef)","(spaghetti, nan)",0.003066,0.534884,3.072100
135,"(spaghetti, whole wheat rice)","(tomatoes, nan)",0.003066,0.216981,3.172662